/* body {
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    border: 2px solid green;
    
} */


#score {
    position: absolute;
    font-size: 15px;
    font-family: Arial;
    /* width: 100px;
    padding-left: 250px; */
    margin: 5px;
  }

  
 
#board {
    /* background-color: white;
    width: 100vw;
    height: 100vh; 
    position: absolute; */
    border: 2px solid green ;
    /* display: block; */
    position: relative;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    /* display: flex;
    justify-content: left; */
}




#ball {
    background-color: mediumvioletred;
    display: block;
    background: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;
    position: absolute;
}

/* 
#player {

} */

.paddle {
    background-color: blueviolet;
    position: absolute;
    margin-bottom: 30px;
    /* bottom: 10px; */
    /* width: 100px;
    height: 20px; */
    /* margin-bottom: 1vh;
    margin-right: 1vh; */
} 