body {
    margin: 10;
    padding: 10;
    background-color: white;
}

#breakOut {
    border: 3px solid green;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto; 
}

