body {
    margin: 10;
    padding: 10;
}

/* 
#board {
    background-color: white;
    width: 100vw;
    height: 100vh; 
    position: relative;
    
} */


/* 
#ball {
background-color: mediumvioletred;
display: block;
background: black;
border-radius: 50%;
height: 40px;
width: 40px;
margin: 0;
position: absolute;
} */

/* 
#player {

}

.paddle {
background-color: blueviolet;
position: absolute;
margin-bottom: 1vh;
margin-left: 1vh;
margin-right: 1vh;
} */

#breakOut {
    border: 1px solid grey;
    padding-bottom: 5px;
    /* margin: auto;
    border: 3px solid green;
    padding: 10px; */
    /* position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto; 
    border:2px solid black;
    width: 60%;
    height: 80%; */


}
